article {
    padding-top: 30px;
}

article .img{
    width: 80%;
    height: 400px;
    margin: auto;
    border-radius: 15px;

    background-size: cover;
    background-position: center;
}

article .title{
    width: 80%;
    font-size: 3.5rem;
    font-weight: bold;
    margin: auto;
    text-align: start;
    color: black;
    padding-top: 40px;
    font-family: 'Lato', sans-serif;

}

article .text{
    margin: auto;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 500;
    width: 60%;
}

article .subimg{
    margin: auto;
    padding-top: 30px;
    width: 770px;
    height: 462px;
    background-image: url(/img/conteudo_index/conteudo1_sub.jpg);
    background-size: cover;
    background-position: center;
}


p {
    margin-bottom: 40px;
    font-size: 0.9em !important;
    font-family: 'Lato', sans-serif;
    font-weight: 400;

}


span {
    font-size: 2rem !important;
}

article > img {
    width: 35vw;
    margin: auto;
    display: block;
    padding-bottom: 30px;
}

p > img {
   width: 500px !important;
   height: 300px !important;
 padding: 10px;
}



@media (max-width:1024px) {
    article .text{
        width: 80%;
    }
    article .subimg{
        width: 80%;
    }
}