/* TELA INTEIRA */
.grid-container{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}


/* CONTEUDO PRINCIPAL 3 GRIDS */
.gridprincipal{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  margin: 50px auto;
}


.postprincipal:nth-child(1){
  grid-row: 3/1;
}

.postprincipal:nth-child(2){
  grid-row: 1/2;
}

.postprincipal:nth-child(3){
  grid-row: 2/3;
}

/* POST CONTEUDO PRINCIPAL */
.postprincipal{
  display: flex;
  flex-direction: column-reverse;
}

.postprincipal > .title{
  display: flex;
  position: absolute;
  align-items: flex-end;
  font-size: 1.5em;
  font-weight: bold;
  font-family: sans-serif;
  width: 42.5%;
  height: 150px;
  padding-left: 1%;
  padding-bottom: 20px;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  background: linear-gradient(rgba(0,0,0,0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));;
}


.postprincipal:nth-child(n+2) > .image{
  height: 245px;
}

.postprincipal > .image{
  height: 500px;
}


.postprincipal:nth-child(1) > .image > img{
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 20px;
}

.postprincipal:nth-child(n+2) > .image > img{
  width: 100%;
  height: 245px;
  object-fit: cover;
  border-radius: 20px;
}

/* GRID POST SECUNDARIO */

.gridsecundario{
  display: grid;
  grid-gap: 20px;
}
.gridsecundario > .postagem{
  display: flex;
  flex-direction: row;
}

.gridsecundario > .postagem > .imgpost{
  width: 250px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.gridsecundario > .postagem > .conteudo{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  width: 75%;
  font-family: sans-serif;
  justify-content: space-around;
}

.gridsecundario > .postagem > .conteudo > .title{
  font-size: 1.5em;
  font-weight: 600;
}
.gridsecundario > .postagem > .conteudo > .sub{
  font-size: 0.9em;
}
.gridsecundario > .postagem > .conteudo > .fonte{
  font-size: 1.1em;
}


/* Media querry */

@media (max-width:900px) {
  .grid-container{
    width: 95%;
  }
  .postprincipal > .title{
    width: 46%;
}
}


/* MOBILE */

@media (max-width:425px) {

  .grid-container{
    width: 98%;
  }
  .gridprincipal{
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px auto;
  }
  .postprincipal:nth-child(n+3){
    grid-row: 1/2;
  }

.postprincipal:nth-child(n+1) > .image{
  height: 150px;
}

.postprincipal:nth-child(n+1) > .image > img{
  width: 100%;
  height: 150px;
  border-radius: 10px;
}

.gridprincipal{
  grid-gap: 0px;
  grid-column-gap: 10px;
}

.postprincipal > .title{
  position: relative;
  align-items: flex-start;
  font-size: 0.6em;
  width: 100%;
  height: 0px;
  padding-left: 5px;
  margin-top: 10px;
  margin-bottom: 30px;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0));;
}

.gridsecundario > .postagem > .imgpost{
  min-width: 150px;
  height: 100px;
}

.gridsecundario > .postagem > .conteudo > .title{
  font-size: 0.65em;
}
.gridsecundario > .postagem > .conteudo > .sub{
  font-size: 0.45em;
}
.gridsecundario > .postagem > .conteudo > .fonte{
  font-size: 0.55em;
}
}


/* MOBILE S */

@media (max-width:380px) {

  .gridsecundario > .postagem > .imgpost{
    width: 100px;
    min-width: 100px;
    height: 80px;
  }
  
  .gridsecundario > .postagem > .conteudo > .title{
    font-size: 0.6em;
  }
  .gridsecundario > .postagem > .conteudo > .sub{
    font-size: 0.3em;
  }
  .gridsecundario > .postagem > .conteudo > .fonte{
    font-size: 0.4em;
  }
}








/* main .grid {
    justify-content: center;
    grid-gap: 50px;
    height: 450px;
    padding: 50px 20px 20px 20px;
  }
  
  main .grid a {
    color: red !important;
    align-self: start;
    padding-top: 300px;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    margin: 0px 1rem;
    color: #67B910;
    font-weight: bolder;
    position: absolute;
    font-size: 1.8rem;
    text-align: start;
  }
  
  .grid > .conteudo1 {
    grid-row: 1 / span 2;
    filter: grayscale(0%);
    display: flex;
    cursor: pointer;
  }
  
  .grid-item .conteudo1-filter {
    position: absolute;
    width: 100%;
    min-height: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.4;
    border-radius: 20px;
  }
  
  .grid-item .conteudo1-filter:hover {
    opacity: 0.6;
    cursor: pointer;
  }
  
  #containerPrincipal {
    display: grid;
    margin: auto;
  }
  
  .grid > .grid-item img {
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 300px;
    border-radius: 20px;
  }
  
  .grid > .conteudo {
    display: flex;
    padding: 0;
    height: 250px;
    margin-bottom: 25px;
    cursor: pointer;
  }
  
  .grid > .conteudo > .imgpost {
    min-width: 350px;
    min-height: 250px;
  }
  
  .conteudo > .conteudopost {
    display: flex;
    flex-direction: column;
    color: rgb(61, 34, 27);
    justify-content: space-around;
    margin: 15px;
  }
  
  .conteudo > .conteudopost .title {
    font-weight: bolder;
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
  }
  
  .conteudo > .conteudopost .sub {
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
  }
  
  .conteudo > .conteudopost .fonte {
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
    font-weight: bold
  }
  
  .grid:nth-child(2) {
    margin-bottom: 50px;
  }
  
  #posts {
    display: flex;
    height: 100%;
    width: 90%;
    flex-direction: column;
    margin: auto;
  }
  
  .classenova {
    min-width: 300px;
    min-height: 200px;
    border-radius: 15px;
  }
 */
